{% for list_item in cart.list_items.all %}
        <tr>
            <th scope='row'><button class="remove-item" value="{{ list_item.id }}">remove</button></td>
            <td >{{forloop.counter}}</th>
            <td>{{list_item.product.name}}</th>
            <td><a href="{% url 'product-detail' list_item.product.id %}" class="">product page</a></th>
            <td><a href="http://www.digikala.com/{{list_item.product.url}}">details</a></th>
            <td>{{list_item.product.price}}</th>
            <td><img class='img-thumbnail' src="{{list_item.product.photo_url}}" width='48px'></th>
        </tr>
{% endfor %}