{% extends "shop/base.html" %}
{% load i18n %}
{% block content %}

  {{cart.customer}}
  
<div class="row">
    <table class='table table-hover table-bordered'>
        <thead class='thead-dark'>
        <tr>
                <th scope='col'>select</th>
                <th scope='col'>#</th>
                <th scope='col'>Name</th>
                <th scope='col'>URL of item</th>
                <th scope='col'>URL of source</th>
                <th scope='col'>Price</th>
                <th scope='col'>Image</th>
            </tr>
    </thead>

    <tbody>
    {%include 'shop/cart_items_detail.html'%}
    </tbody>
    </table>

</div>
{% endblock content %}
{%block scripts%}
    <script>
          function update_messages(m){  
            $("#messages_div").html("");
            $("#messages_div").append("<div class='alert alert-"+m.tags+"'>"+m.message+"</div>");
        };
        function reload_items(){  
          console.log("hello" )
          $('#cart-menu').html('').load(
              "{% url 'reload-cart-items' %}"
          );
        };


    $(".remove-item").click(function () {
      var id = $(this).attr('value');
      console.log($(this).parent())
      $.ajax({
        url: '/shop/ajax/remove-item-from-cart/',
        data: {
          'id': id
        },
        dataType: 'json',
        success: function (data) {
          if (data.success) {
            console.log(data.messages[0])
            console.log(data.messages[0].level)
            console.log(data.messages[0].message)
            console.log("<div class='alert alert-"+data.messages[0].tags+"'>"+data.messages[0].message+"</div>")
            update_messages(data.messages[0]);
            reload_items();
          }
        }
      });

    });
  </script>
{%endblock scripts%}