{% extends "shop/base.html" %}
{% load i18n %}
{% block content %}
<div class="row">
  {% for product in object.product_set.all %}
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="#"><img class="card-img-top" src="{{product.photo_url}}" alt=""></a>
        <div class="card-body">
          <div class='card-desc-wrap'>
            <h6 class="card-title">
            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
          </h6>
          <p class="card-text">
            <p>{{product.price}}</p>
          </p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock content %}
