{% extends "shop/base.html" %}
{% load i18n %}

{% block content %}

<h1>{% trans "Category List" %}</h1>

{% if category_list %}
  <div class="accordion" id="accordionCategoryList">
  {% for category in category_list %}
    <div class="card" >
      <div class="cardheader" id="heading{{forloop.counter}}">
        <h5 class="mb-0">
          <button class="btn btn-link" type='button' data-toggle="collapse" data-target="#collapse{{forloop.counter}}" aria-expanded="true" aria-controls="collapse{{forloop.counter}}">
            <a href="{{ category.get_absolute_url }}">
              {{ category.name }}
            </a>
          </button>
        </h5>
      </div>
      <div id="collapse{{forloop.counter}}" class="collapse" aria-labelledby="heading{{forloop.counter}}" data-parent="#accordionCategoryList">
        <div class="card-body">
          {% for product in category.product_set.all|slice:":10" %}
            <div class="row mt-1">
              <div class="col-md-1">
                <img class="img-fluid" width="64px" src="{{ product.photo_url }}">
              </div>
              <div class="cold-md-11">
                <p><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></p>
              </div>
            </div>
          {% endfor %}
          <div class="row mt-1">
              <div class="col-md-10">
                <img class="img-fluid" width="64px" src="{{ product.photo_url }}">
              </div>
              <div class="cold-md-2">
                <p><a href="{{ category.get_absolute_url }}">مشاهده همه</a></p>
              </div>
            </div>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
{% else %}
  <p>There are no categories available.</p>
{% endif %}

{% endblock %}
