{% extends "shop/base.html" %}
{% load i18n %}


{% block title %}<title>{% trans "Index Page" %}</title>{% endblock %}


{% block content %}
<div class="row">
  {% if not request.user.is_authenticated %}
  <div class="col-md-6">
    <p><a href="{% url 'login' %}" class="">login</a> if you want to create a list</p>
  </div>
  {% else %}
  <div class="col-md-12">
    <p class="">you can create a list now</p>
    <p> or </p>
    <p> change your previously added lists: </p>
    <div class="row">
    <div class="col-md-12 list-group">
      {% for list in user.lists.all %}
        <a href="{% url 'list-detail' list.id %}" class="text-center list-group-item list-group-item-action list-group-item-primary">{{list.name}}</a>  
      {% endfor %}
    </div>
    </div>
  </div>


  {% endif %}
</div>
{% endblock content %}
