
{% extends 'shop/base.html' %} 
{%block content %}
<h1>{{ object.name }}</h1>
<p>{{ object.description }}</p>

    <table class='table table-hover table-bordered'>
        <thead class='thead-dark'>
        <tr>
                <th scope='col'>#</th>
                <th scope='col'>Name</th>
                <th scope='col'>URL of item</th>
                <th scope='col'>URL of source</th>
                <th scope='col'>Price</th>
                <th scope='col'>Image</th>
                <th scope='col'></th>
                
            </tr>
    </thead>

    <tbody>
    {% for product in object.products.all %}
            <tr>
                <th scope='row'>{{forloop.counter}}</th>
                <td>{{product.name}}</th>
                <td><a href="{% url 'product-detail' product.id %}" class="">product page</a></th>
                <td><a href="http://www.digikala.com/{{product.url}}">details</a></th>
                <td>{{product.price}}</th>
                <td><img class='img-thumbnail' src="{{product.photo_url}}" width='48px'></th>
                <td ><button class='add-to-cart btn btn-success btn-block btn-sm no-wrap' value="{{ product.id }}">add to cart</button></td>
                
            </tr>
        
    {% endfor %}
    </tbody>
    </table>
<a href="{% url 'user-lists' object.owner.username %}" class="">{{object.owner.username}}'s lists</a>


{%endblock content %}


{%block scripts%}
    <script>
        function update_messages(m){  
            $("#messages_div").html("");
            $("#messages_div").append("<div class='alert alert-"+m.tags+"'>"+m.message+"</div>");
        };
        function update_cart(p){  
            $("#cart-menu").append("<a class='dropdown-item' href='#'>"+p.name+"</a>");
        };
        function update_cart_items() {
          console.log("hello" )
          $('#cart-menu').html('').load(
              "{% url 'update-cart-items' %}"
          );
        };

    $(".add-to-cart").click(function () {
      var id = $(this).attr('value');
      var url = document.URL;
      url = url.split('/');
      var l = url.length // #TODO: NEEDS EDITING! doesn't work if # is in the link!
      url = url[l-2]
      console.log(url);
      $.ajax({
        url: '/shop/ajax/add-item-to-cart/',
        data: {
          'id': id,
          'pk': url
        },
        dataType: 'json',
        success: function (data) {
          if (data.success) {
            console.log(data.messages[0])
            console.log(data.messages[0].level)
            console.log(data.messages[0].message)
            console.log("<div class='alert alert-"+data.messages[0].tags+"'>"+data.messages[0].message+"</div>")
            update_messages(data.messages[0]);
            update_cart_items()
            
          }
        }
      });

    });
  </script>
{%endblock scripts%}