{% extends 'shop/base.html' %}  
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block extrahead %}
  {{ form.media.css }}
{% endblock extrahead %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {{ form | crispy}}
    <button type="submit" class="btn btn-success">Save List</button>
  </form>
{% endblock %}

  {% block extra_scripts %}
  {{form.media.js}}
  <script>
  </script>
  {% endblock extra_scripts %}




{% comment %} <!DOCTYPE html>
<html>
<head>
  {{ form.media.css }}
  <style type="text/css">
    select {
      width: 200px;
    }
  </style>
</head>
<body>
<form method="post" action="">
  {% csrf_token %}
  {{ form }}
  <input type="submit" value="Submit Form"/>
</form>
<script type="text/javascript">
  window.onerror = function (msg) {
    $("body").attr("JSError", msg);
  }
</script>
{{ form.media.js }}
</body> {% endcomment %}