{% extends "shop/base.html" %}
{% load i18n %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'shop/css/product-detail.css' %}">
{% endblock extrahead %}


{% block content %}


<div class="container" style="background-color:#fff">
<h2>{{ product.name }}</h1>
<div class="row">
    <div class='col-md-4'>
        <img class="img-fluid" src="{{product.photo_url}}" alt="{% trans 'product image' %}">
    </div>
    <div class='col-md-8 mt-4'>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        اضافه کردن به لیست
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                {% if user.is_authenticated %}
                <h5 class="modal-title" id="exampleModalLabel">لیست‌های شما</h5>
                {% else %}
                <h5 class="modal-title" id="exampleModalLabel">برای ذخیره کردن ابتدا باید وارد شوید.</h5>
                {% endif %}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="div_messages">
                </div>
                <div style="display:none" id="prod_{{product.id}}" class="product-id"></div>
                {% if user.is_authenticated %}
                  {% if user.lists.all %}
                    {% for list in user.lists.all %}
                        <div>
                        <a href="#" id="list_{{list.id}}" class="list_add">{{ list.name }}</a>
                        </div>
                    {% endfor %}
                  {% else %}
                    <div>
                      <p class="">شما لیستی ندارید برای ساختن لیست جدید از <a href="{% url 'list-create' %}">لینک</a>  استفاده کنید</p>    
                    </div>
                  {% endif %}
                {% else %}
                  برای درست کردن لیست ابتدا باید <a href="{% url 'login' %}">وارد</a> شوید.
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
            </div>
        </div>
        </div>
        <p>{{ product.price }}</p>
    </div>
</div>
</div>
{% endblock %}



{%block extra_scripts%}
    <script>
    
    function update_messages(m){  
      $("#div_messages").html("");
      $("#div_messages").append("<div class='alert alert-"+m.tags+"'>"+m.message+"</div>");
    };

    $(".list_add").click(function () {
      var id = $(this).attr('id');
      var prod_id = $('.product-id').attr('id');
      $.ajax({
        url: '/shop/ajax/add-item-to-list/',
        data: {
          'id': id,
          'prod_id': prod_id
        },
        dataType: 'json',
        success: function (data) {
          console.log(data)
          if (data.success) {
            console.log(data.messages[0])
            console.log(data.messages[0].level)
            console.log(data.messages[0].message)
            console.log("<div class='alert alert-"+data.messages[0].tags+"'>"+data.messages[0].message+"</div>")
            update_messages(data.messages[0]);
          }
        }
      });

    });
    </script>
{%endblock extra_scripts%}

