{% extends "shop/base.html" %}
{% load i18n %}


{% block title %}<title>{% trans "Index Page" %}</title>{% endblock %}


{% block content %}
<div class="row">
  <div class="col-md-6 list-group">
    <h1>{{user_shown.username}}'s lists</h1>
    {% for list in lists %}
      <a href="{% url 'list-detail' list.id %}" class="list-group-item list-group-item-action list-group-item-dark">{{list.name}}</a>  
    {% endfor %}
  </div>
</div>
{% endblock content %}
