@font-face {
    font-family: 'B Nazanin';
    src: local('B Nazanin'),
        local('BNazanin'),
        url('../fonts/BNazanin.woff2') format('woff2'),
        url('../fonts/BNazanin.woff') format('woff'),
        url('../fonts/BNazanin.ttf') format('truetype');
    font-weight: 400;
    font-stretch: normal;
    /*font-style: normal;*/
}

@font-face {
    font-family: 'B Nazanin';
    src: local('B Nazanin Bold'),
        local('BNazanin-Bold'),
        url('../fonts/BNaznnBd.woff2') format('woff2'),
        url('../fonts/BNaznnBd.woff') format('woff'),
        url('../fonts/BNaznnBd.ttf') format('truetype');
    font-weight: 700;
    font-stretch: normal;
    /*font-style: normal;*/
}
*{
    font-family: 'B Nazanin';
}

p,h1,h2,h3,h4,h5,h6,a,div,span,article{
    font-family: 'B Nazanin';
}

.img_cover{
    width:100px;
    margin:0 auto;
    box-sizing: border-box;
}
.img_cover_border{
    display:inline-block;
    padding:15px;
}

.img_cover_div{
    padding:10px;
}
.img_cover_link{
    padding:10px;
}
